<div class="min-h-screen grid grid-rows-[auto_1fr_auto] bg-gray-900 text-gray-200" style="height: 100vh;">

  <header class="bg-gray-950 shadow h-16 flex items-center justify-between px-4 md:px-8 border-b-2 border-cyan-700">
    <div class="flex items-center gap-2">
      <img src="assets/logo.svg" alt="TalkCorner Logo" class="h-8 w-8">
      <span class="font-bold text-xl tracking-tight text-cyan-400">TalkCorner</span>
    </div>
    <nav class="flex items-center gap-4">
      <a routerLink="/boards" class="hover:text-cyan-400 font-semibold transition">Boards</a>
      <a *tcHasAnyRole="'Administrator'" routerLink="/admin/dashboard" class="hover:text-cyan-400 font-semibold transition">Admin Area</a>
      <button *ngIf="!(authService.authStatus$ | async)" (click)="navigateToLogin()" class="px-6 py-2 rounded-lg bg-cyan-500 hover:bg-cyan-400 text-white font-semibold shadow transition">Login</button>
      <button *ngIf="authService.authStatus$ | async" (click)="logout()" class="px-6 py-2 rounded-lg bg-cyan-500 hover:bg-cyan-400 text-white font-semibold shadow transition">Logout</button>
    </nav>
  </header>

  <main class="p-4 md:p-8 overflow-y-auto min-h-[calc(100vh-7rem)]">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-gray-900 shadow h-14 flex items-center justify-center text-sm text-gray-400 border-t border-cyan-900">
    &copy; {{ currentYear }} TalkCorner · Hentzware
  </footer>
</div>
